@import './Constants.css';


/* ------------------- */
/*    Mobile/Default   */
/* ------------------- */
.container1{
    background: url("../designes/FLIERCLUB.svg");
}

.container2{
    background: url("../designes/DISCORD.svg");
}

.container3{
    background: url("../designes/GALLERY.svg");
}

.container4{
    background: url("../designes/RECYCLE.svg");
}

.container1,
.container2,
.container3,
.container4{
    display:flex;
    flex-basis: space-between;
    background-color: var(--background-color);
    background-repeat: repeat;
    background-position: 25px 25px;
    padding-left: 25px;
    padding-top:25px;
    flex-grow:1;
}

.content{
    width:100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


p, li{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color);
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 25px;
    background-color: var(--background-color);
}

li:hover{
    color: var(--text-select-color);
}


h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px;
    font-weight:600;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--text-color);
    line-height: 50px;
    background-color: var(--background-color);
    width:min-content;
}

.selected{
    color: var(--text-select-color);
}

.welcomeText{
    width: 80%;
}

.recycleList{
    margin-block-start: 0px;
    margin-block-end: 0px;
    background-color: var(--background-color);
    width: 60%;
}