@import './Constants.css';


/* ------------------- */
/*    Mobile/Default   */
/* ------------------- */

@media(min-width: 550px) {
    #root{
        display: flex;
        justify-content: center;
    }
    .container{
        padding-top: 100px;
        background-color: var(--background-color);
        width:800px;
        max-width: 100vw;
    }
}

@media(max-width: 550px) {
    #root{
        display: flex;
        justify-content: center;
    }
    .container{
        background-color: var(--background-color);
    }
}





p, li, a{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color);
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 25px;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
}

li:hover,
a:hover{
    color: var(--text-select-color);
}


h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px;
    font-weight:600;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--text-color);
    line-height: 50px;
    background-color: var(--background-color);
    width:min-content;
    cursor: pointer;
}

.selected{
    color: var(--text-select-color);
}

.welcomeText{
    width: 80%;
}

.discordText{
    width: 80%;
}

.recycleList{
    margin-block-start: 0px;
    margin-block-end: 0px;
    background-color: var(--background-color);
    width: 60%;
}